.innerData {
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon {
  width: 15px;
}
.info {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
}
.tooltip {
  display: none;
  position: absolute;
  right: 13px;
  top: -91px;
  font-size: 14px;
  margin: 0;
  padding: 10px;
  background-color: #fff;
  color: #000;
  border: 0.5px solid #333;
  width: 100px;
  height: 80px;
  border-radius: 2.5px;
}
.info > p {
  word-break: keep-all;
}
.title .info:hover .tooltip {
  display: flex;
}
.title {
  font-size: 12px;
  margin: 3px;
}
.number {
  font-size: 20px;
  margin: 3px;
}
.previous {
  font-size: 16px;
  margin: 3px;
}
.nextStar {
  font-size: 12px;
  margin: 3px;
}
