@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.mainDiv {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 90vh;
  width: 99vw;
}
.donut {
  margin-top: 20vh;
}
.cardsArea {
  margin-top: 20vh;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
