@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.mainDiv {
  font-family: 'Roboto', sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}
.card {
  display: flex;
  box-shadow: -2px 0px 12px -4px rgba(0, 0, 0, 0.75);
  border: 2px solid rgb(14, 217, 231);
  flex-direction: column;
  border-radius: 7px;
}
.header > h1 {
  margin: 10px;
}
.restData {
  display: flex;
}
